/* CSS Document */

/* ========== PAGINADOR ========================== */
div.paginador {    font-size: 11px;
    overflow: hidden;
    padding: 5px;
    margin: 20px 0px auto;
    display: block;
    text-align: center;
    
}
div.paginador a { background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #444444;
    margin: 0 5px 0 0;
    padding: 3px 10px;
    }
div.paginador strong {    
    /*background: url("../images/sprite-repeat-1210151.png") repeat-x scroll 0 -125px rgba(0, 0, 0, 0);*/
    background-color: #CF4344;
    /*border: 1px solid #770000;*/
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 0 #550000;
    margin: 0 5px 0 0;
    padding: 3px 10px;
    border-radius: 2px;
    }
    
/*============ mensajes de sistema ======================*/
#mensaje_error { padding: 10px; width: 80%; margin: 8px auto; box-shadow: 1px 2px 9px rgba(0,0,0,0.5);border-radius: 8px; 
         background-repeat: no-repeat;  background-position: 10px center;  border: 1px solid #F2B7CB;
         color: #D8000C; background-color: #F9DDE7;  background-image: url('../img/error.png');  }
#mensaje_error p{margin: 1% 4%; }

#mensaje_exito { padding: 10px; width: 80%; margin: 8px auto; box-shadow: 1px 2px 9px rgba(0,0,0,0.5);border-radius: 8px;
         background-repeat: no-repeat;  background-position: 10px center;  border: 1px solid #A7DB4F;
         color: #4F8A10; background-color: #DFF2BF;  background-image: url('../img/exito.png');  }
#mensaje_exito p{margin: 1% 4%; }

#mensaje_alerta { padding: 10px; width: 80%; margin: 8px auto; box-shadow: 1px 2px 9px rgba(0,0,0,0.5);border-radius: 8px;
         background-repeat: no-repeat;  background-position: 10px center;  
         color: #4F8A10; background-color: #DFF2BF;  background-image: url('../img/alerta.png');  }
#mensaje_alerta p{margin: 1% 4%; }

#mensaje_info { padding: 10px; width: 80%; margin: 8px auto; box-shadow: 1px 2px 9px rgba(0,0,0,0.5);border-radius: 8px;
         background-repeat: no-repeat;  background-position: 10px center;  
         color: #4F8A10; background-color: #DFF2BF;  background-image: url('../img/alerta.png');  }
#mensaje_info p{margin: 1% 4%; }

.mensaje_info1, .mensaje_exito, .mensaje_alerta, .mensaje_error {
       font-family:Arial, Helvetica, sans-serif; 
       font-size:13px;
       border: 1px solid;
       margin: 10px 0px;
       padding:15px 10px 15px 50px;
       background-repeat: no-repeat;
       background-position: 10px center;
       position:relative;
}
.mensaje_info1 {
       color: #00529B;
       background-color: #BDE5F8;
       background-image: url('../img/info.png');
}
.mensaje_exito {
       color: #4F8A10;
       background-color: #DFF2BF;
       background-image:url('../img/exito.png');
}
.mensaje_alerta {
       color: #9F6000;
       background-color: #FEEFB3;
       background-image: url('../img/alerta.png');
}
.mensaje_error {
       color: #D8000C;
       background-color: #FFBABA;
       background-image: url('../img/error.png');
}



/* ******************************* ******** */

div.procesar { display: inline-block; padding: 2px 3px;}
.leyendacli {	font-size:12px;	text-align:left; }
.tablacliAdmin {font-size: 12px;}	
/* ********** Datos personales *************** **/
.widget-content .titu_tabs_cliadmin {height: auto !important;}
.estadocli {text-align: right; display: inline-block; vertical-align: top; float: right;margin: 5px 20px; font-size: 12px;}
.estadocli label {display: inline; color:#E13300; }
.input_formwz .control-label ,.input_formwz .controls {display:inline-block; vertical-align:top;}	
.input_formwz .control-label { min-width:20%;}
.input_formwz .controls {min-width:79%;}
.input_formwz .controls input{min-width:90%; width:90%;}
.select_sexocli{margin-bottom:10px !important; width: 94% !important;}
.divfecha_naccli {display:inline-block; vertical-align:top; width:32%; margin-bottom:10px;}
.divfecha_naccli .dia_nac {width:25% !important; display:inline-block; }
.divfecha_naccli .select_dianac {width:58% !important; display:inline-block; }
.input_formwz .controls1 {display: inline; vertical-align: top;}
.controls1 .input_telefcli , .controls1 .label_anexcli,.controls1 .input_anexcli{display: inline-block; vertical-align: top;}
.input_telefcli{ width: 30%; }
.label_anexcli {width: 20%; margin: 5px; text-align: center;}
.input_anexcli{ width: 14%; }

/* ********** Datos generales cliente *********** **/
.divgene_cli { margin:2px !important; font-size: 12px;}
div.div_left , div.div_right {display:inline-block; vertical-align:top; width:49%;}
.divgene_cli .divgene_cli_label { width:40% !important;  color: #666666; display: inline-block;} 
.divgene_cli .divgene_cli_Text { width:55% !important; color: #5476A6; font-weight: bold; padding-left: 20px; }

/* ********** Direcciones ******* */ 
.select_distritocli {margin-bottom: 10px !important;width: 94% !important;}
.label_titu_direccion {margin: 2% 3%; color: #BD362F; font-weight: bold;}

/* ********** Direcciones ******* */ 
.tabladetest_ctacli {border: 1px solid #B3B4BD;  width:100% !important; }
.titu_test_ctacli { background: #E5E5E5; padding: 1% 3%; font-weight: bold;}

.cta_nro{ width: 10%; display: inline-block; vertical-align: top; color: #B94A48;}
.cta_cant{ width: 10%; display: inline-block; vertical-align: top;}
.cta_desc{ width: 45%; display: inline-block; vertical-align: top;}
.cta_precio{ width: 15%;display: inline-block; vertical-align: top; }
.cta_subtotal{ width: 15%; display: inline-block; vertical-align: top;}

/* ********** estado de cta del cliente ************/
.cont_test_ctacli {background: #fff; padding: 0% 2%; border-bottom: 1px solid #ECE8E5;}
.total_test_ctacli { background: #F6F6F6; padding: 1% 10%; text-align: right;}
.label_total { font-size: 15px; font-weight: bold; display: inline-block; vertical-align: top; padding: 1% 3%;}
.select_tipotarjcli{ margin-bottom: 10px !important;width: 92% !important;}
.msj1 {display: inline-block; padding-right: 2%;}

/* ************ Passwor del cliente *****/
.input_formwz2 .control-label ,.input_formwz2 .controls {display:inline-block; vertical-align:top; margin: 5px 10px;}	
.input_formwz2 .control-label { min-width:20%;}
.input_formwz2 .controls {min-width:75%;}
.Editcli_estorden {float: right; margin-right: 4%;}
.Editcli_estorden label {display: inline-block; vertical-align: top; margin: 8px;}


/*.modaldetsusc {width: 620px;}*/
.frm_izquierda, .frm_derecha {display: inline-block; vertical-align: top; width: 49%; }
.cont_datossusc { border: 1px solid #E5E5E5; margin: 1%;}
.cont_datossusc h5{ color: #B90100;  font-size: 0.9em; margin: 2px 2px 2px 3%;}
.div_formulario {margin: 5px 0; min-height: 20px; vertical-align: middle;}
.div_formulario label,.div_formulario span {text-align: right;  display: inline-block; vertical-align: middle; width: 98%; font-size: 12px;margin:0px;}
.div_formulario label { width: 30%;  }
.div_formulario span { color: #0081C2;  margin-left: 2%; text-align: left; width: 60%; }
.textolargo_detsusc {font-size: 11px;}

.title_formwz2 { width: 100% !important;}

 /* ---------- Formulario de ordenes -----------  */
.btnwz_orden { padding: 4px;margin-top:2px; margin-left: 5%;}
.modaldetord {width: 70% !important; margin-left: -34%; top:43%;}
.cont_datosord { border: 1px solid #E5E5E5; margin: 1%;}
.cont_datosord h5{ color:#B90100; margin: 2px;font-size: 0.9em; margin-left: 3%;}
.cont_datosord .div_formulario {margin: 1px ; vertical-align: middle; height: 10px;}
.alto_ref { height: 50px !important;}
.nro_telf {width:20% !important;color: #0081C2; text-align: left !important; margin-left: 2%;}
.nro_telf2 {width:20% !important; }
.tablaOrdPend {font-size: 0.9em !important; }
.titu_detorden , .est_detorden {display: inline-block; vertical-align: top; margin: 0%;}
.est_detorden { margin-top: 3px; margin-left: 1%; }
.cantvjentregar { padding: 2px 10px;}

/* ------------------- Formulario popup de entrega erronea --------------------------------*/
.label_errorentrega {display: inline-block;  margin-left: 1%; }
.cont_test_ctacli1 {background: #fff; padding: 0% 3%;}
.titu_test_ctacli1 { background: #E5E5E5; padding: 2px 3%; font-weight: bold;}


.text_horaped {width: 37% !important;}
.hrpedido {width: 80% !important;}
.div_formulario2 {padding: 2px !important;height: 40px;}
.textalign_left {text-align: left !important;}
.deliveryPed1 {width: 85% !important;}
.fechaPed1 {width: 85% !important;}
.otrosdet_errorentr {height:55px; }

.div_formulario_moterror {margin: 5px 0; min-height: 20px; vertical-align: middle; font-size: 12px;}
.div_formulario_moterror label {margin-left: 2%;}
.div_formulario_moterror ,.detalles_errorentrega { list-style: none outside none; text-align: left !important;}
.detalles_errorentrega li {color: #0081C2;}
.div_formulario_moterror ,.modaldetord_cuerpo {   max-height: 445px; overflow-y: auto;  padding: 0px 5px;}
.tabladetest_ctacli1 { width: 100%; }

/* ------------------- Formulario popup de entrega exitosa --------------------------------*/
div.div_form_entrega { display:inline-block; vertical-align: middle; width: 33% !important;padding-top: 10px;}
.input_form_entrega { width: 34% !important; margin-right: 6%; display:inline-block; vertical-align: middle; } 
.label_form_entrega { width: 35% !important; display:inline-block;vertical-align: middle; } 
.label_form_entrega1 {width: 31% !important; display:inline-block;vertical-align: middle; }
.input_form_entrega1 {width: 60% !important; display:inline-block; vertical-align: middle;}
div.horaentrega_contenedor {width: 35% !important; display:inline-block;vertical-align: middle; }
.label_form_entrega3{ width: 180px !important; margin-right: 2%; display:inline-block; vertical-align: middle; text-align: left;} 
.input_form_entrega3 { width: 35% !important; display:inline-block; vertical-align: middle;} 
.input_form_hora { width: 74% !important; display:inline-block; vertical-align: middle;} 
.input_form_hora2 { width: 82% !important; display:inline-block; vertical-align: middle;} 


.campo_required {font-size: 1.2em; color: red;padding-left: 1%;}

/* ----------------------Formulario de pop up de la orden finalizada ------------------------------*/
.est_ordenfinal {text-align: left; margin: 1% 2%; float: left; width: 30%;}
.est_ordenfinal label, .est_ordenfinal span {display: inline-block; vertical-align: top;}
.est_ordenfinal label {font-weight: bold; margin-right: 2%; font-size: 12px !important;}
div.labelest_orden {float:right; margin-right: 5% !important; }
div.labelest_orden span , div.labelest_orden label {display: inline-block; vertical-align: top;}
div.labelest_orden span {padding: 5px 10px; text-transform: uppercase;}
div.labelest_orden label {padding: 5px 10px;}
/* ------------------ configuracion de las multas --------------------------------*/
.modaldetmulta {width: 70% !important; margin-left: -31%; top:47%;}
.div_formulario_multa {  margin: 1%; vertical-align: middle; height: 35px;}
.label_precio, .input_precio , .nro_item, .nro_item2, .desc_multa, .input_estado  {display: inline-block; vertical-align: top;}
.nro_item { width: 10%; margin: 5px;}
.nro_item2 { width: 28%; }

.label_precio {width: 5%;margin: 5px;}
.input_precio {width: 10%;}
.input_estado {width: 11%;}
.desc_multa {width: 52%;}

/* --------------- Div de rango de fechas ---------------------------------------------- */
.div_form_rango_fechas div{ display: inline-block; vertical-align: top; margin:10px 5px; width: 27%; }
.inputfecha_rango { width: 50% !important;}
.div_form_rango_fechas .btn_rangofecha {margin: 7px 5px; }
div.info_rango_fechas {padding: 10px;}
div.info_rango_fechas p,div.info_rango_fechas span, div.info_rango_fechas label { display: inline-block; vertical-align: middle;   }
div.info_rango_fechas p {font-weight: bold; color: #B90100; margin-right: 10px;margin-bottom: 0px;}
div.info_rango_fechas span {font-weight: bold; color: #333333;margin:0px 5px;}
div.info_rango_fechas label { color: #0081C2; margin:0px 5px;}

/* ------------------ estado de cta lista de ecommerce -------------------- */
.listarestcta  {border: 1px solid #B3B4BD;  width:97% !important; display: inline-block; margin-top: 10px;}
.listarestcta_total {float: right;}
.listarestcta_total {   padding: 2% 9% 1% 44%;  }
.div_montostotales {width: 244px; text-align: right; }
.div_montostotales span , .div_montostotales label {display: inline-block; vertical-align: top;}
.div_montostotales span {font-size: 15px; font-weight: bold;}
.div_montostotales label {font-size: 15px; font-weight: bold; width:80px; }
.bordesupe_montoestcta {border-top: 2px solid #444444;}

/* div del dashboard - admin */
.img_dashboard {display: inline-block; }

/* ------------- editar items -------------------- */
.opt_edititem {width: 63% !important; margin: 10px 0px;}

/* -------------- botones de exportancion -------------- */
.btn_exportar{ padding-top:3px; float:right; margin-right: 10%; }

/* ----------------- producto  --------------------------- */
.divcontenedor_generos {width: 90%; border: 1px solid #AAAAAA; background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, #FFFFFF 50%); margin-bottom: 5px;}
.list_generos{display: inline-block; vertical-align: top; list-style: none !important; padding: 3px 5px; width: 23%;}
.cont_video_item {width: 89% !important; height: 79px !important; margin: 10px 0px !important;}

